body {
  background: linear-gradient(to bottom, #444, #888);
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: transparent;
  backdrop-filter: blur(10px);
  animation-timeline: scroll();
  animation-range: 0 200px;
  animation: add-shadow linear both;
  box-shadow: none;
}

@keyframes add-shadow {
  to {
    box-shadow: 0 5px 5px -3px rgba(53, 52, 52, 0.25);
  }
}

.navigation {
  display: flex;
  position: absolute;
  right: 20px;
  gap: 0.8rem;
  margin-top: 18px;
}

.navigation a {
  color: #ccc;
  cursor: pointer;
}

.navigation a:hover {
  text-decoration: underline;
}

.logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 7px;
  margin-left: 10px;
  font-size: 1.3rem;
}

.container-logo img {
  border-radius: 50px;
}

.container-logo {
  display: flex;
  margin: 10px 20px;
}

.menu-icon {
  display: none;
  width: fit-content;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}

.menu-icon:active {
  background-color: #1f1e1ec5;
}

.menu-stack {
  display: none;
}

.menu-stack {
  position: relative;
  height: 300px;
  width: 200px;
  background-color: #b69867;
  display: none;
  text-align: center;
  color: #ccc;
}

.menu-stack a {
  color: #fff;
}

.image_container {
  margin: 40px auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.image_container img {
  border-radius: 10px;
  box-shadow: 0px 3px 6px 4px #585858c9;
}

article {
  width: 60%;
  justify-content: center;
  display: grid;
  margin: 0 auto;
}

.titulo h1 {
  justify-content: center;
  display: flex;
  font-size: 45px;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to bottom,
    #f5b041,
    #b69867,
    rgba(255, 0, 0, 0.558)
  );
  text-wrap: balance;
}

.titulo {
  margin: 40px auto;
}

.sobre-nosotros {
  text-align: center;
  font-size: medium;
  margin: 20px;
}

.contenedor {
  display: grid;
  font-weight: 500;
}

.integrantes {
  justify-content: center;
  margin: 20px auto;
  display: grid;
  text-align: center;
}

.formulario {
  justify-content: center;
  margin: 0 auto;
  display: grid;
  position: relative;
}

.formulario > * {
  margin-block: 5px;
  display: grid;
}

.formulario input {
  background-color: #ccc;
  border: none;
  padding: 5px;
  border-radius: 4px;
}

.formulario input::placeholder {
  color: #444;
}

.comentario {
  height: 100px;
  width: 300px;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 5px;
  background: #ccc;
}

.comentario::placeholder {
  color: #444;
}

.enviar {
  border: none;
  right: 10px;
  padding: 6px;
  border-radius: 4px;
  width: fit-content;
  margin-left: 1px;
  margin-bottom: 50px;
  cursor: pointer;
}

.enviar:hover {
  outline: 2px solid #f5b041;
  outline-offset: 2px;
}

@media (max-width: 768px) {
  body {
    width: 100%;
    height: 100%;
  }

  h1 {
    text-wrap: balance;
    text-align: center;
    font-size: medium;
  }

  .navigation a {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu-stack {
    color: #fff;
  }

  .image_container img {
    width: 300px;
    height: 300px;
  }

  article {
    width: 95%;
  }
}

#comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

footer {
  padding-top: 150px;
  background-color: #999;
}
