body {
  background: linear-gradient(to bottom, #444, #888);
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  background-color: transparent;
  backdrop-filter: blur(10px);
  animation-timeline: scroll();
  animation-range: 0 150px;
  animation: add-shadow linear both;
  box-shadow: none;
  z-index: 99;
}

@keyframes add-shadow {
  to {
    box-shadow: 0 5px 5px -3px rgba(53, 52, 52, 0.25);
  }
}

.navigation {
  display: flex;
  position: absolute;
  right: 20px;
  gap: 0.8rem;
  margin-top: 18px;
}

.navigation a {
  color: #ccc;
  cursor: pointer;
}

.navigation a:hover {
  text-decoration: underline;
}

.logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 7px;
  margin-left: 10px;
  font-size: 1.3rem;
  -webkit-text-stroke-color: #d4d4d8;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 1px;
  color: transparent;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.2;
  }
  85% {
    opacity: 1.1;
  }
  95% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.logo:hover {
  animation: flicker 3s infinite;
  text-shadow: 0 0 12px #f5b041;
}

.container-logo img {
  border-radius: 50px;
}

.container-logo {
  display: flex;
  margin: 10px 20px;
}

.menu-icon {
  display: none;
  width: fit-content;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}

.menu-icon:active {
  background-color: #1f1e1ec5;
}

.menu-stack {
  display: none;
}

.menu-stack {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #b69867;
  display: none;
  text-align: center;
  color: #ccc;
  z-index: 999;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-name: rolldown;
  animation-timeline: auto;
  animation-range-start: normal;
}

@keyframes rolldown {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

.menu-stack a {
  font-size: x-large;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px auto;
  width: fit-content;
}

.footer-menu {
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke-color: #d4d4d8;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  border-top: 2px dashed #888;
}

.close-button {
  position: absolute;
  font-size: x-large;
  top: 5px;
  left: 10px;
  cursor: pointer;
  animation: button-animation 1s forwards;
}

.close-button:hover {
  color: rgb(255, 113, 88);
  filter: contrast(200%);
  transition: 0.3s ease-in-out;
}

@keyframes button-animation {
  from {
    transform: rotate(0) scale(0);
  }
  to {
    transform: rotate(360deg) scale(1.1);
    filter: contrast(200%);
  }
}

.image_container {
  margin: 40px auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.image_container img {
  border-radius: 10px;
  box-shadow: 0px 3px 6px 4px #585858c9;
}

article {
  width: 60%;
  justify-content: center;
  display: grid;
  margin: 0 auto;
}

.titulo h1 {
  justify-content: center;
  display: flex;
  font-size: 45px;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to bottom,
    #f5b041,
    #b69867,
    rgba(255, 0, 0, 0.558)
  );
  text-wrap: balance;
}

.titulo {
  margin: 40px auto;
}

.sobre-nosotros {
  text-align: center;
  font-size: medium;
  margin: 20px;
}

.contenedor {
  display: grid;
  font-weight: 500;
}

.integrantes {
  justify-content: center;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 10px;
}

.avatar-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid #ccc;
  transition: filter 800ms;
  cursor: help;
}

.avatar-img:hover {
  box-shadow: 0 0 10px #000;
}

.container-users {
  display: inline-flex;
}

.container-users > a {
  padding-top: 18px;
  margin-left: 10px;
  font-weight: 500;
  color: #ddd;
}

.container-users > a:hover {
  color: #f5b041;
  transition: 0.3s all;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to left bottom,
    #f5b041,
    #b69867,
    rgba(255, 0, 0, 0.558)
  );
}

#contacto {
  background-clip: text;
  font-size: xx-large;
  color: transparent;
  background-image: linear-gradient(
    to bottom,
    #f5b041,
    #b69867,
    rgba(255, 0, 0, 0.558)
  );
}

.formulario {
  justify-content: center;
  margin: 0 auto;
  display: grid;
  position: relative;
  z-index: 1;
}

.formulario > * {
  margin-block: 5px;
  display: grid;
}

.formulario input {
  background-color: #cccccc7a;
  border: none;
  padding: 15px;
  border-radius: 3px;
}

.formulario input::placeholder {
  color: #ccc;
}

.comentario {
  height: 100px;
  width: 300px;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 15px;
  background: #cccccc7a;
}

.comentario::placeholder {
  color: #ccc;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.enviar {
  border: none;
  right: 10px;
  padding: 10px;
  border-radius: 3px;
  width: fit-content;
  margin-left: 2px;
  margin-bottom: 50px;
  cursor: pointer;
}

.enviar:hover {
  outline: 2px solid #f5b041;
  outline-offset: 1px;
}

@media (max-width: 768px) {
  body {
    width: 100%;
    height: 100%;
  }

  header {
    position: sticky;
    top: 0;
  }

  h1 {
    text-wrap: balance;
    text-align: center;
    font-size: medium;
  }

  .navigation a {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu-stack {
    color: #fff;
  }

  .menu-stack a {
    display: grid;
  }

  .image_container img {
    width: 300px;
    height: 300px;
  }

  article {
    width: 95%;
  }

  #comments {
    width: 90%;
  }
}

@media (min-width: 769px) {
  .location-map {
    width: 400px;
    height: 400px;
  }
}

#last-visit {
  display: flex;
  font-size: 14px;
  color: #eee;
  justify-content: center;
  margin: 10px auto;
  text-wrap: balance;
  width: fit-content;
  padding-inline: 8px;
  border-radius: 3px;
  border: 1px solid #999;
}

.location-map {
  justify-content: center;
  margin: 0px auto 50px;
  display: flex;
  height: 300px;
  border-radius: 4px;
  border: 0;
}

footer {
  font-size: small;
  padding-bottom: 10px;
  padding-top: 150px;
  background-color: #cccccc7a;
}

.modal-container {
  position: relative;
  background-color: #1f1e1ec5;
}

.modal {
  position: fixed;
  top: 0;
  left: 50%;
  width: 400px;
  height: 300px;
  background-color: #444;
  color: #d4d4d8;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #eee;
}
th, td {
  border: 1px solid #555;
  padding: 10px;
  text-align: left;
}